body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

h1 {
    text-align: center;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

a {
    color: black; /* Change the color value to black */
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
