<!DOCTYPE html>
<html>
<head>
    <title>Scraped Titles</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

</head>
<body>
    <h1>Latest IT News</h1>

    <h2>BBC Technology:</h2>
    <ul>
        {% for title, url in bbc_titles_and_urls %}
        <li><a href="{{ url }}" target="_blank">{{ title }}</a></li>
        {% endfor %}
    </ul>

    <h2>USA Today Tech:</h2>
    <ul>
        {% for title, url in usa_today_titles_and_urls %}
        <li><a href="{{ url }}" target="_blank">{{ title }}</a></li>
        {% endfor %}
    </ul>

    <h2>VentureBeat:</h2>
    <ul>
        {% for title, url in venturebeat_titles_and_urls %}
        <li><a href="{{ url }}" target="_blank">{{ title }}</a></li>
        {% endfor %}
    </ul>
</body>
</html>
